#header {
    width: 100%;
    position: fixed;
    background-color: #000;
    height: 68px;
    z-index: 8;
}
@media screen and (min-width:768px){
    #header {
        background-color: transparent;
        float: left;
        height: 80px;
    }
    .head-wrap {
        margin: 0 auto;
    max-width: 1170px;
    }
}
