.top-wrap {
    height: 100%;
    background-image: url(../img/sp_leftkumo.png), url(../img/sp_rightkumo.png),url(../img/sp_bg.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: calc(220/442*100%), calc(220/525*100%), 320px 500px;
    background-position: left top, right 0px bottom 90px, center center;
    .top-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        margin: 0 auto 40px;
        width: calc(300/664*100%);
    }
}
