.work-wrap {
    height: 100%;
    width: 100%;
    background: url(../img/bg_line.png), linear-gradient(90deg, #dc89c0 50%, #c7de6a 50%);
    background-size: cover;
    .item-box {
        position: relative;
        top: 40px;
        width: calc(280/320*100%);
        margin: 0 auto 40px;
        background-color: #fdfdfd;
        border-radius: 4px;
        .title-container {
            .sec-title {
                display: flex;
                justify-content: center;
                h2 {
                    width: 280px;
                    display: block;
                    text-align: center;
                    margin: 20px 0 0;
                    padding-bottom: 8px;
                    font-size: 2.4rem;
                    font-weight: normal;
                    border-bottom: 1px dotted #000;
                    span {
                        font-size: 3.2rem;
                    }
                }
            }
        }
        .sub-title {
            padding-bottom: 40px;
            p {
                display: block;
                text-align: center;
                margin: 12px 0;
                font-size: 1.8rem;
            }
        }
        
    }
}